//Indents
$indent: 10px;

//Sizes
$xl_width: 1600px;
$lg_width: 1310px;
$lg_width_inner: 1200px;
$lgx_width: 1024px;
$md_width: 992px;
$sm_width: 768px;
$csx_width: 480px;
$xs_width: 320px;

$container-width: 1440px;
$container-padding: 112px;
$container-padding-csx: 10px;

//Colors
$black-t: #333333;
$gray-t: #8F8F8F;
$gray-l: #E8E8E8;
$blue-d: #124A80;
$blue-dh: #7192B3;
$blue-sh: #D0DBE6;
$blue-dis: #E1E0E6;
$blue-ph: #F3F6F9;
$white: #FFFFFF;
$white-bg: #FBFBFB;
$secondary-blue-bh: #D0DBE6;
$primary-blue-bd: #E1E0E6;
$red: #FF5D5B;
$red-l: #FDBCBB;
$green: #4EB595;
$green-l: #B6DFD2;
$yellow: #F8B162;
$yellow-l: #FADDBE;
